*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  text-align: center;
  font-family: sans-serif;
}

main {
  margin-top: 100px;
  width: 80%;
  max-width: 400px;
  margin-inline: auto;
}

h1 {
  margin-top: 40px;
  margin-bottom: 10px;
  opacity: 0.9;
}

p {
  margin-bottom: 40px;
  opacity: 0.7;
}

input, button {
  display: block;
  width: 100%;
  padding: 20px;
  font-size: 20px;
  border-radius: 4px;
}

input {
  margin-bottom: 10px;
  border:none;
}

button {
  color: white;
  background-color: blueviolet;
  transition: filter .2s;
  border:none;
}

button:hover {
  filter: brightness(0.9);
  cursor:pointer;
}

#resposta {
  margin-top: 30px;

  transition: opacity 1s;
}

#resposta div {
  font-size: 16px;
  font-weight: normal;
  opacity: 0.9;
  margin-bottom:10px;
}
